<div class="container">
 <h2>Create a new match</h2>
 <% @tab_name = [] %>
  <% @league.players.each do |player| %>
    <% @tab_name << player.name %>
  <% end %>
  <%= form_tag(new_match_league_path) do |f|%>
    <div class="row">
      <div class="col-6">
        Select first player <%= select_tag :player1_chosen, options_for_select(@tab_name)%></br>
      </div>
      <div class="col-6">
        Select second player<%= select_tag :player2_chosen, options_for_select(@tab_name)%>
      </div>
      <div class="col-6">
        </br>Enter score first player <%= number_field_tag :score1 %>
      </div>
      <div class="col-6">
        </br>Enter score first player <%= number_field_tag :score2 %>
      </div>
      <div class="col-6">
        </br>Any comments about the match ?
      </div>
      <div class="col-6">
        </br><%= text_area_tag :comment %>
      </div>
      <div class="col-12">
        </br><%= submit_tag "Create this match", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>