<div class="container">
  <% if @players == [] || @league.matches == [] %>
    <h2>No leaderboard yet, please add matches first !</h2>
    <p><%= link_to 'New match', display_new_match_league_path, class: 'btn btn-primary' %></p></br>
  <% else %>
  <h2>Leaderboard</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Player</th>
        <th>Played</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Ratio</th>
      </tr>
    </thead>
    <tbody>
      <% @ratios.each do |player, ratio| %>
        <tr>
          <td><%= Player.find(player.to_s.to_i).name %></td>
          <td><%= Player.find(player.to_s.to_i).matches.where(league_id: @league.id).count %></td>
          <td><%= Player.find(player.to_s.to_i).total_victories_for_a_league(@league.id) %></td>
          <td><%= Player.find(player.to_s.to_i).total_defeats_for_a_league(@league.id) %></td>
          <td><%= ratio %> %</td>
        </tr>
      <% end %>
    </tbody>
    <% end %>
</div>