<div class="container">
  <% if @players == [] || @league.matches == [] %>
    <h2>No leaderboard yet, please add matches first !</h2>
    <p><%= link_to 'New match', display_new_match_league_path, class: 'btn btn-primary' %></p></br>
  <% else %>
  <h2>Leaderboard</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Player</th>
        <th>Number of matches</th>
        <th>Number of victories</th>
        <th>Number of defeats</th>
        <th>Ratio</th>
      </tr>
    </thead>
    <tbody>
      <% @players.each do |player| %>
        <tr>   
          <td><%= player.name %></td>
          <td><%= player.matches.where(league_id: @league.id).count %></td>
          <td><%= player.total_victories_for_a_league(@league.id) %></td>
          <td><%= player.total_defeats_for_a_league(@league.id) %></td>
          <td><%= player.ratio_calculation_for_a_league(@league.id) %> %</td>
        </tr>
      <% end %>     
    </tbody>
    <% end %>
</div>