<div class='container pt-7'>
<h2>Here's league : <%=@league.name%></h2>
  <% if current_admin.present? %>
    <div class="row justify-content-center text-center">
      <div class="col-10">
        <%= link_to players_league_path(@league) do %>
          <div class="option_to_choose">
            League players
          </div>
        <%end%>
      </div>
      <div class="col-10">
        <%= link_to display_players_league_path(@league) do %>
          <div class="option_to_choose">
            Add players
          </div>
        <%end%>
      </div>
      <div class="col-10">
        <%= link_to display_new_match_league_path(@league) do %>
          <div class="option_to_choose">
            New match
          </div>
        <%end%>
      </div>
      <div class="col-10">
        <%= link_to match_history_league_path(@league) do %>
          <div class="option_to_choose">
            Games history
          </div>
        <%end%>
      </div>
      <div class="col-10">
        <%= link_to leaderboard_league_path(@league) do %>
          <div class="option_to_choose">
            Leaderboard
          </div>
        <%end%>
      </div>
      <div class="col-10">
        <%= link_to leagues_path do %>
          <div class="option_to_choose">
            Your leagues
          </div>
        <%end%>
      </div>
    </div>
  <% else %>
    <div class="row justify-content-center text-center">
      <div class="col-10">
        <%= link_to match_history_league_path(@league) do %>
        <div class="option_to_choose">
          Go to the games history
        </div>
        <%end%>
      </div>
      <div class="col-10">
        <%= link_to leaderboard_league_path(@league) do %>
        <div class="option_to_choose">
          Go to the leaderboard
        </div>
        <%end%>
      </div>
    </div>
  <% end %>
</div>
