<div class='container'>
	<h2>Here's league : <%=@league.name%></h2>
	<p><%= link_to 'Show the players', league_path, class: 'btn btn-info' %></p></br>
	<p><%= link_to 'Add players', league_path, class: 'btn btn-info' %></p></br>
	<p><%= link_to 'New match', league_path, class: 'btn btn-info' %></p></br>
	<p><%= link_to 'History', league_path, class: 'btn btn-info' %></p></br>
	<p><%= link_to 'Leaderboard', league_path, class: 'btn btn-info' %></p></br>

</div>
