<header>
  <nav class="navbar navbar-expand-md" style="background-color: black;">
    <% if admin_signed_in? %>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <%= link_to root_path, class: 'header' do%>
                    Hi <%=current_admin.name%>
                    <% end %>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <%= image_tag("logo.png", :class => "logo", style: 'height:50px;width:auto;')%>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <%= link_to "My Leagues", leagues_path, class: 'header' %>
                </li>
                <li class="nav-item">
                    <%= link_to "Log out", destroy_admin_session_path, method: :delete, class: 'header' %>
                </li>
            </ul>
        </div>
    <% else %>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <div class="mx-auto order-0">
                <%= image_tag("logo.png", :class => "logo", style: 'height:50px;width:auto;')%>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <%= link_to "Log in", new_admin_session_path, class: 'header' %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Sign in", new_admin_registration_path, class: 'header' %>
                    </li>
                </ul>
            </div>
        </div>
    <% end %>
  </nav>
</header>